// Variables
$header-bg: #2E323F; 
$hero-bg: #3B4050;
$accent-clr: #A59678;

$main-text-clr: #F1F1F1;
$h1-font-size: 32px;
$h2-font-size: 24px;
$main-font-size: 16px;
$alt-text-clr: #2E323F;

$wrapper-width-mobile: 312px;


// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $main-text-clr;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    color: $main-text-clr;
}

.wrapper {
    width: 100%;
    max-width: $wrapper-width-mobile;
    margin: 0 auto;
}

// Header
.header {
    background-color: $header-bg;
    &__nav {
        padding: 16px 26px;
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-item {
                font-weight: 600;
                font-size: $main-font-size;
                line-height: 24px;
                text-transform: uppercase;
                margin-right: 32px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

// Hero section
.hero {
    background-color: $hero-bg;
    &__heading {
        margin: 0;
        padding-top: 48px;
        margin-bottom: 32px;
        font-size: $h1-font-size;
        font-weight: 600;
        line-height: 48px;
    }
    &__description {
        padding-bottom: 48px;
        &__text{
            font-size: $main-font-size;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 24px;
        }
        &__button {
            text-transform: uppercase;
            background-color: $accent-clr;
            padding: 8px 24px;
            border-radius: 16px;
            font-size: $main-font-size;
            font-weight: 700;
            line-height: 24px;
            cursor: pointer;
        }
    }
}

// Features section
.features {
    &__list {
        padding: 48px 0px;
        &-item {
            text-align: center;
            margin-bottom: 40px;
            &__heading {
                color: $accent-clr;
                font-size: $h2-font-size;
                font-weight: 700;
                line-height: 32px;
                margin-bottom: 16px;
            }
            &__subheading {
                font-size: $main-font-size;
                font-weight: 500;
                line-height: 24px;
                color: $alt-text-clr;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}