// Variables
$header-bg: #2E323F; 
$hero-bg: #3B4050;
$accent-clr: #A59678;
$main-text-clr: #F1F1F1;
$alt-text-clr: #2E323F;


// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}