// Variables
$header-bg: #2E323F; 
$hero-bg: #3B4050;
$alt-bg-clr: #F1F1F1;
$accent-clr: #A59678;

$main-text-clr: #F1F1F1;
$h1-font-size: 32px;
$h2-font-size: 24px;
$h1-font-size-desktop: 64px;
$main-font-size: 16px;
$alt-text-clr: #2E323F;

$wrapper-width: 90%;


// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: $main-text-clr;
}

ul {
    list-style-type: none;
}

a {
    color: $main-text-clr;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    color: $main-text-clr;
}

.wrapper {
    width: 100%;
    max-width: $wrapper-width;
    margin: 0 auto;
}

// Header
.header {
    background-color: $header-bg;
    &__nav {
        padding: 16px 26px;
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-item {
                font-weight: 600;
                font-size: $main-font-size;
                line-height: 24px;
                text-transform: uppercase;
                margin-right: 32px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

// Hero section
.hero {
    background-color: $hero-bg;
    &__heading {
        margin: 0;
        padding-top: 48px;
        margin-bottom: 32px;
        font-size: $h1-font-size;
        font-weight: 600;
        line-height: 48px;
    }
    &__description {
        padding-bottom: 48px;
        &__text{
            font-size: $main-font-size;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 24px;
        }
        &__button {
            text-transform: uppercase;
            background-color: $accent-clr;
            padding: 8px 24px;
            border-radius: 16px;
            font-size: $main-font-size;
            font-weight: 700;
            line-height: 24px;
            cursor: pointer;
        }
    }
}

// Features section
.features {
    background-color: $alt-bg-clr;
    &__list {
        padding: 48px 0px;
        &-item {
            text-align: center;
            margin-bottom: 40px;
            &__heading {
                color: $accent-clr;
                font-size: $h2-font-size;
                font-weight: 700;
                line-height: 32px;
                margin-bottom: 16px;
            }
            &__subheading {
                font-size: $main-font-size;
                font-weight: 500;
                line-height: 24px;
                color: $alt-text-clr;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

// Article section
.article {
    padding: 48px 0px;
    &__heading {
        font-size: $h2-font-size;
        font-weight: 700;
        line-height: 32px;
        color: $accent-clr;
        margin-bottom: 24px;
    }
    &__subheading {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: $alt-text-clr;
    }
    &__image {
        width: 100%;
        margin: 40px 0px;
    }
    &__steps {
        margin-top: 65px;
        &__list {
            &-item {
                background-color: $hero-bg;
                text-align: center;
                padding: 32px;
                margin-bottom: 24px;
                &__heading {
                    font-size: $h2-font-size;
                    font-weight: 700;
                    line-height: 32px;
                    margin-bottom: 24px;
                    color: $main-text-clr;
                }
                &__subheading {
                    font-size: $main-font-size;
                    font-weight: 500;
                    line-height: 24px;
                    color: $main-text-clr;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Footer
.footer {
    background-color: $hero-bg;
    padding: 72px 0px;
    &__heading {
        font-size: $h1-font-size;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 40px;
    }
    &__description {
        margin-bottom: 32px;
        &__heading {
            color: $accent-clr;
            font-size: $main-font-size;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 12px;
        }
        &__subheading {
            font-size: $main-font-size;
            font-weight: 500;
            line-height: 24px;
        }   
    }
    &__nav {
        &__list {
            margin-bottom: 32px;
            &-item {
                font-size: $main-font-size;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &-item--heading {
                color: $accent-clr;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 12px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: $wrapper-width;
    }
    .header {
        display: flex;
        justify-content: flex-end;
        &__nav__list {
            justify-content: flex-end;
        }
    }
    .hero {
        .hero__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 128px 0px;
        }
        &__heading {
            display: block;
            max-width: 514px;
            font-size: $h1-font-size-desktop;
            line-height: 72px;
        }
        &__description {
            padding: 40px 0px;
            max-width: 334px;
        }
    }
    .features {
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 64px 0px;
            &-item {
                margin-bottom: 0px;
                padding: 0px 20px;
                &__heading {
                    margin-bottom: 32px;
                }
                &__subheading {
                    max-width: 355px;
                }
            }
        }
    }
    .article {
        padding: 48px 0px;
        &__wrapper {
            display: flex;
            flex-direction: row;
        }
        &__body {
            margin-right: 64px;
        }
        &__steps {
            max-width: 312px;
            margin-top: 0px;
        }
    }
    .footer {
        padding: 96px 0px;
        &__body {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__heading {
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            margin-bottom: 64px;
        }
        &__description {
            max-width: 373px;
            margin-bottom: 0px;  
        }
        &__nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            &__list {
                margin-bottom: 0px;
                &-item {
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    .wrapper {
        max-width: 1440px;
    }
}