* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #F1F1F1;
}

ul {
  list-style-type: none;
}

a {
  color: #F1F1F1;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: #F1F1F1;
}

.wrapper {
  width: 100%;
  max-width: 312px;
  margin: 0 auto;
}

.header {
  background-color: #2E323F;
}
.header__nav {
  padding: 16px 26px;
}
.header__nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__nav__list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 32px;
}
.header__nav__list-item:last-child {
  margin-right: 0px;
}

.hero {
  background-color: #3B4050;
}
.hero__heading {
  margin: 0;
  padding-top: 48px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.hero__description {
  padding-bottom: 48px;
}
.hero__description__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero__description__button {
  text-transform: uppercase;
  background-color: #A59678;
  padding: 8px 24px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.features {
  background-color: #F1F1F1;
}
.features__list {
  padding: 48px 0px;
}
.features__list-item {
  text-align: center;
  margin-bottom: 40px;
}
.features__list-item__heading {
  color: #A59678;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}
.features__list-item__subheading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2E323F;
}
.features__list-item:last-child {
  margin-bottom: 0px;
}

.article {
  padding: 48px 0px;
}
.article__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #A59678;
  margin-bottom: 24px;
}
.article__subheading {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #2E323F;
}
.article__image {
  margin: 40px 0px;
}
.article__steps {
  margin-top: 65px;
}
.article__steps__list-item {
  background-color: #3B4050;
  text-align: center;
  padding: 32px;
  margin-bottom: 24px;
}
.article__steps__list-item__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
  color: #F1F1F1;
}
.article__steps__list-item__subheading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #F1F1F1;
}
.article__steps__list-item:last-child {
  margin-bottom: 0px;
}

.footer {
  background-color: #3B4050;
  padding: 72px 0px;
}
.footer__heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
.footer__description {
  margin-bottom: 32px;
}
.footer__description__heading {
  color: #A59678;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}
.footer__description__subheading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.footer__nav__list {
  margin-bottom: 32px;
}
.footer__nav__list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}
.footer__nav__list-item:last-child {
  margin-bottom: 0px;
}
.footer__nav__list-item--heading {
  color: #A59678;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}
.footer__nav__list:last-child {
  margin-bottom: 0px;
}